*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}
h1{
    font-size:120px;
    text-align: center;
    color: rgba(255,255,255,1);
}
.parallax{
    background: url('./nature.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-a{
    background: url('./Aravalli.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-b{
    background: url('./Biogradska_suma.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.parallax-1{
    padding: 10% 0;
}
h2{
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}
p{
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
}